// colors -------------

$green: #b4d2be;
$greentwo: #9dbba9;
$greenthree: #96cda0;
$grey: rgb(143, 146, 148);
$darkgreen: #819688;

// fonts -------------

.jomo{
    font-family: 'Jomolhari', serif;
}

.staat{
    font-family: 'Staatliches', cursive;
}

.gochi{
    font-family: 'Gochi Hand', cursive;
}

.nanum{
    font-family: 'Nanum Pen Script', cursive;
}

.federo{
    font-family: 'Federo', sans-serif;
}

.averia{
    font-family: 'Averia Serif Libre', cursive;
}




// global classes -------------

body{
    padding: 0;
    border: 0;
    margin: 0;
    background:rgba(180, 210, 190, 0.12941176470588237);
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

h1{
    -webkit-margin-after: 0!important;
    margin-block-end: 0!important;
    margin-block-start: 0!important;
}

.white{
    color: #fff;
}

.green{
    color:#b4d2be;
}

.greentwo{
    color: #9dbba9;
}

.greenthree{
    color:#96cda0;
}

.powell{
    font-family: "powell";
}

.uppercase{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

a{
    text-decoration: none;
}


.read-more{
    color: $darkgreen;
    border-bottom: 2px solid $darkgreen;
    padding-bottom: 5px;
    font-size: 20px;
}