// colors -------------

$green: #b4d2be;
$greentwo: #9dbba9;
$greenthree: #96cda0;


// fonts -------------

.jomo{
    font-family: 'Jomolhari', serif;
}

.staat{
    font-family: 'Staatliches', cursive;
}

.gochi{
    font-family: 'Gochi Hand', cursive;
}

.nanum{
    font-family: 'Nanum Pen Script', cursive;
}

.federo{
    font-family: 'Federo', sans-serif;
}

.averia{
    font-family: 'Averia Serif Libre', cursive;
}




// global classes -------------

.white{
    color: #fff;
}

.green{
    color:#b4d2be;
}

.greentwo{
    color: #9dbba9;
}

.greenthree{
    color:#96cda0;
}

.powell{
    font-family: "powell";
}

.uppercase{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

a{
    text-decoration: none;
}

