footer{
    display: flex;
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: $greentwo;
    @include respond-to('medium'){
        flex-direction: row;
        justify-content: space-between;
    }

    nav{
        border-left: 1px solid #fff;
        padding-left: 40px;
        margin-left: 40px;
        ul{
            list-style: none;
           
            li{
                margin-bottom: 10px;
                a{
                    text-transform: uppercase;
                    color: #fff;
                    font-family: 'Averia Serif Libre', cursive;
                    &:hover{
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    .left-side{
        display: flex;
        margin-bottom: 40px;
        @include respond-to('medium'){
            margin-bottom: 0px;
            margin-left: 4%;
        }
    }

    .social-icons{
        display: flex;
        i{
            color: #fff;
            font-size:24px;
        }
        a:nth-child(2) i{
            margin: 0 8px;
        }
    }

    .address-info{
        margin-right: 4%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            color: #fff;
            font-family: 'Averia Serif Libre', cursive;
            margin-bottom: 10px;
            &:hover{
                opacity: 0.5;
            }
        }
        @include respond-to('medium'){
            justify-content: flex-end;
            align-items:flex-end;
        }
    }
}